* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
}


.editor {
    background: #343434;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.editor-snippet {
    box-shadow: 0 0 7px 0 #02668e;
}

.editor-navbar {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*border-bottom: 1px solid #d7d7d7;*/
}

.editor-navbar > button.navbar-button {
    border: 1px solid #a0a0a0;
    background: #232222;
    padding: 0.25rem 0.75rem;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.editor-navbar > button.navbar-button:active {
    background: #02668e;
}

.editor-navbar > button.navbar-button > span {
    margin-left: 10px;
    font-size: 16px;
}

.editor-area {
    flex: 1;

    display: flex;
    overflow-x: hidden;
    overflow-y: auto;
    align-items: flex-start;

    font-family: monospace;
    font-size: 18px;
    background: #262626;
    color: #d7d7d7;

    user-select: none;
    outline: none;
}

.editor-textarea {
    flex: 1;
    cursor: text;
    min-height: 100%;
}

.editor-linenum {
    padding: 0 1.5rem 0 1rem;
    background: #404040;
    /*border-right: 1px solid #d7d7d7;*/
    min-height: 100%;
}

.editor-linenum > div {
    padding: 0.2rem 0;
}

.editor-textarea > div {
    min-height: 28.38px;
    padding-left: 12px;
    position: relative;
    width: 100%;
    display: flex;
}

.editor-textarea > div > span {
    padding: 0.2rem 0;
}

.editor-textarea > div > span.re-tab {
    border-left: 1px solid #797979;
}

.editor-textarea > div.selected {
    background: #3b3b3b;
}

.editor-textarea > div > span.cursor {
    position: absolute;
    top: 0.2rem;
    padding: 0;
    width: 0;
    margin-left: 1px;
    border-left: 2px solid white;

    animation: blink 1.25s step-end 0.25s infinite;
}

@keyframes blink {
    50% {
        opacity: 0.0;
    }
}

.editor.editor-snippet .editor-textarea > div > span.cursor {
    border: none;
}

.editor.editor-snippet .editor-textarea > div.selected {
    background: transparent;
}

.editor-textarea > div > span.error {
    position: absolute;
    right: 0;
    padding: 0.2rem 0.4rem;
    background: #232222;
    border-right: 6px solid rgba(145, 44, 44, 0.94);
    color: #d4d4d4;
    animation: fadein 2.5s ease;
}


@keyframes fadein {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.editor-textarea > div > span.underline {
    position: absolute;
    border-bottom: 2px solid red;
    margin-left: 2px;
    margin-top: -2px;
    animation: fadein 2.5s ease;
}

.editor-output {
    height: 200px;
    /*border-top: 1px solid #d7d7d7;*/
    background: #000000;
    color: #efefef;
    font-family: monospace;
    font-size: 18px;
    padding: 0.5rem;
    overflow: auto;
}
