@font-face {
    font-family: "CMU Serif";
    src: url("fonts/cmunrm.ttf");
}

.controller {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.page {
    height: 100%;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.page-text {
    background: #343434;
    color: white;
    flex: 1.5;

    font-family: "CMU Serif", serif;
    font-size: 20px;
    padding: 0.5rem 1.5rem;

    overflow-x: hidden;
    overflow-y: scroll;
}

.page-text a:visited,
.page-text a:link {
    color: #50b7e3;
}

.page-editor {
    flex: 2.5;
}

/*scrollbar*/
.page-text::-webkit-scrollbar {
    width: 0.5rem;
}

.page-text::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.3);
}

.page-text::-webkit-scrollbar-thumb {
    background-color: #adadad;
}

.page-navigate {

}

.page-navigate button {
    padding: 0.3rem 1rem;
    background: #cbcbcb;
    color: #000000;
    border: 1px solid #444444;
    font-size: 17px;
}

.page-navigate button:hover {
    background: #a0a0a0;
}

.progress {
    color: white;
    float: right;
}



@media only screen and (max-width: 1000px) {
    .page {
        flex-direction: column;
    }

    .page-text {
        flex: 3;
    }
}
